html, body {
    scroll-behavior: smooth;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.fun {
    width: 100%;
    max-resolution: 2rem;
}

.gif {
    max-width: 100%;
}